################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RSDK-Animation-Editor-Reloaded/v15/.suo
