[submodule "RSDK-Reverse"]
	path = RSDK-Reverse
	url = https://github.com/Rubberduckycooly/RSDK-Reverse
[submodule "GenerationsLib"]
	path = GenerationsLib
	url = https://github.com/CarJem/GenerationsLib.git
