################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/AnimationEditor/bin/Debug/
/AnimationEditor/obj/Debug/
/MigrationBackup
