<log4net>
  <root>
    <level value="All" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{MM/dd/yyyy hh:mm:ss tt}] %level: (%message) %newline[Source: %C][Location: %M][Thread ID: %thread]%newline%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString">
      <conversionPattern value="${AppData}\\RSDK Animation Editor\\Logs\\RSDK_Animation_Editor_[%property{AnimEdVersion}]_[%date{MM-dd-yyyy}]_[%date{HH-mm-ss}].log" />
    </file>
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{MM/dd/yyyy hh:mm:ss tt}] %level: (%message) %newline[Source: %C][Location: %M][Thread ID: %thread]%newline%newline" />
    </layout>
  </appender>
</log4net>